section{
  height:100vh;
  scroll-snap-align:start;  
  scroll-margin: 0;
  scroll-padding: 0;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}
.container::-webkit-scrollbar {
  display: none;
}

.ones{
  background-color: wheat;
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

.snap-container{
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.snap-title{
  font-size: 25px;
  margin:  40px 20px;
  color:blue
}
.snap-despcription{
  margin: 40px ;
  font-size: 23px;
  color: brown;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {

  .card-container{
    overflow-x: scroll;
    justify-content: space-around;
    height: 70vh;
    width: 85vw;
    margin:auto;
    padding:20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .snap-title{
    font-size: 18px;
  }
  .snap-despcription{
    font-size: 16px;
    margin: 15px;
  }
}