h1,
p {
  font-family: Lato;
}
*{
  margin:0;
  padding:0;
}
.title{
  text-align: center;
  font-size: 45px;
  padding-top: 25px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.landing {
  height: 100vh;
  width:auto;
  background: url('https://www.tajmahal.gov.in/images/nightview.jpg');
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

.taj-mahal {
  position: absolute;
  top: 25%;
  left: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  transition: all 0.1s;
  width: 50vw;
  height: 70vh;
}

.app-scroll{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.app-scroll::-webkit-scrollbar {
  display: none;
}
.ab{
  scroll-snap-align:start;  
  scroll-margin: 0;
  scroll-padding: 0;
}

@media (max-width: 600px) {
  .parallax {
    width: 100%;
    height: auto;
    }
  .landing {
    background-position: top;
    height: 50vh;
    }
  .taj-mahal {
    top:22%;
    width: 20vw;
    height: 35vh;
    left:40%;
  }
}
